<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title th:remove="all">Template for Password HTML email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
    <p>
        <span th:text="${fullName}">Firstname and Lastname</span>,<br>
    Ваш пароль для входа в <b>Companies</b>: <span th:text="${password}">Password</span>
    </p>
    <p>Вам необходимо внести данные о себе в редактировании вашего профиля.<br>
        Там же вы можете изменить пароль. Или можете использовать данный пароль.</p>
    <p>
        Если вы не знаете почему вам пришло это письмо, то не нужно ничего делать.
    </p>
    <p>
        С уважением,<br> Служба технической поддержки учетных записей Companies.
    </p>
</body>
</html>